{% extends "base.html" %}

{% block head_extras %}
    <link href="{{ asset('css/home.css') }}" rel='stylesheet' type='text/css' />
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div class="home">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="home-logo">
                <img src="{{ asset('img/logo-big.png') }}">
            </div>
            {{ chapter.content_html }}
        </div>
    </div>
    <div class="divided row">
        <div class="section col-md-offset-2 col-md-4">
            <p>We build web projects</p>
            <a href="/works/" class="btn btn-info">See our works</a>
        </div>
        <div class="section col-md-4">
            <p>We develop our own startups</p>
            <a href="/startups/" class="btn btn-success">See startups</a>
        </div>
    </div>    
</div>
{% endblock %}
