{% extends "base.html" %}

{% block extra_meta %}
    <meta name="keywords" content="development, python, django, iOS, iPhone, iPad, web services, mobile applications, mobile apps development, awareness development">
    <meta name="description" content="Cutting edge web development. Python / Django, Javascript / jQuery / KnockoutJS / Bootstrap. Разработка веб-сервисов.">
{% endblock %}

{% block content %}
<div id="home">
    <div id="content">
        <!-- Logo -->
        <header id="page-header">
            <div class="logo">
                <img src="/assets/img/logo.gif" alt=":)" />
                <span>05BIT</span>
                <a href="#" data-bind="click: selectRUS"><img src="/assets/img/flag_RU.png" class="lang"></a>
                <a href="#" data-bind="click: selectENG"><img src="/assets/img/flag_US.png" class="lang"></a>
            </div>
        </header>

        <!-- Heading -->
        <section>
            <div data-bind="visible: lang() == 'en'">
                <h2>Innovations as is</h2>
                <p>Drop us a line: <a href="mailto:contact@05bit.com">contact@05bit.com</a></p>
            </div>
            
            <div data-bind="visible: lang() == 'ru'">
                <h2>Инновации и точка!</h2>
                <p>E-mail: <a href="mailto:contact@05bit.com">contact@05bit.com</a></p>
            </div>
        </section>

        <!-- News -->
        <section class="container container_12 clearfix">
            <div class="grid_6 app_widget">
                <div class="image">
                    <a href="{{ get_url('onephoto/') }}"><img src="{{ get_asset('img/onephoto.png') }}" width="200px"></a>
                </div>
                <div class="text">
                    <h2>One Photo</h2>
                    <p data-bind="visible: lang() == 'en'"><em>19 October 2012</em><br>
                        New app One Photo v1.0<br> released! <a href="{{ get_url('onephoto/') }}">Read more &raquo;</a>
                    </p>
                    <p data-bind="visible: lang() == 'ru'"><em>19 октября 2012</em><br>
                        Вышло приложение<br>One Photo! <a href="{{ get_url('onephoto/') }}">Подробнее &raquo;</a>
                    </p>
                    <p data-bind="visible: lang() == 'en'">
                        <a href="https://itunes.apple.com/us/app/one-photo/id540976962" target="_blank">
                            <img src="{{ get_asset('img/app_store_small.png') }}">
                        </a>
                    </p>
                    <p data-bind="visible: lang() == 'ru'">
                        <a href="https://itunes.apple.com/ru/app/one-photo/id540976962" target="_blank">
                            <img src="{{ get_asset('img/app_store_small.png') }}">
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid_6">
                <!-- <h2>News</h2> -->
            </div>
        </section>

        <!-- Intro & Technologies -->
        <section data-bind="visible: lang() == 'en'">
            <h2>Intro</h2>

            <p>We are programmers team focused on developing cutting edge web-services.</p>

            <p>Technologies we use and love most:</p>

            <p style="padding-left: 30px;">
                <a style="padding-right: 30px;" href="http://www.djangoproject.com/" target="_blank"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." height="40" /></a>
                
                <a style="padding-right: 30px;" href="http://jquery.org" target="_blank"><img src="http://jquery.org/wp-content/uploads/2010/01/JQuery_logo_color_onwhite-300x74.png" height="30"></a>
                
                <a href="http://www.postgresql.org" target="_blank"><img src="http://www.postgresql.org/files/community/propaganda/95x51_4.gif" height="40"></a>
            </p>

            <p style="padding-left: 30px;">+
                <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>,
                <a href="http://knockoutjs.com/" target="_blank">KnockoutJS</a>,
                <a href="http://aws.amazon.com/" target="_blank">Amazon web services</a>.
            </p>

            <p>Having such perfect technologies and experienced team we can create complex projects really fast.</p>
        </section>

        <section data-bind="visible: lang() == 'ru'">
            <h2>Интро</h2>

            <p>Мы разрабатываем веб-сервисы, в основе которых есть новая оригинальная идея.</p>

            <p>Любим технологии и используем лучшие из них &mdash; те, с которыми приятно работать, которые эффективны, которые созданы передовыми инженерами мирового уровня:</p>

            <ul>
                <li><a href="http://python.org" target="_blank">Python</a> / <a href="http://djangoproject.com" target="_blank">Django</a> / <a href="http://flask.pocoo.org/" target="_blank">Flask</a></li>

                <li>Javascript / <a href="http://jquery.com/" target="_blank">jQuery</a> / <a href="http://knockoutjs.com/" target="_blank">KnockoutJS</a> / <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a></li>
                <li>"Облачные" сервисы <a href="http://aws.amazon.com/" target="_blank">Amazon</a> и <a href="http://cloud.google.com/" target="_blank">Google</a></li>
            </ul>

            <p>Мы максимально используем возможности существующих сервисов, не изобретая велосипеды. Знаем кун-фу платежных систем и авторизации через социальные сети.</p>
        </section>

        <!-- Dreamteam =) -->
        <h2 class="team" data-bind="visible: lang() == 'en'">Our team</h2>
        <h2 class="team" data-bind="visible: lang() == 'ru'">Команда</h2>
        <section class="team clearfix">
            <div class="members-list">
                <a class="member" href="{{ get_url('rudyryk/') }}">
                    <div class="image" style="background-image: url(/assets/img/rudyryk.jpg)"></div>
                    Alexey Kinyov<!--<br>// @rudyryk-->
                </a>

                <a class="member" href="http://www.facebook.com/vsvasya">
                    <div class="image" style="background-image: url(/assets/img/vsvasya.jpg)"></div>
                    Vasily Sadovnikov
                </a>

                <a class="member" href="http://www.facebook.com/funkypublic">
                    <div class="image" style="background-image: url(/assets/img/pasha.png)"></div>
                    Pavel Shevelyov
                </a>
            </div>
        </section>

        <!-- Projects -->
        <section>
            <h2 data-bind="visible: lang() == 'en'">Featured Projects</h2>
            <h2 data-bind="visible: lang() == 'ru'">Проекты</h2>

            <table class="projects">
                <!--tr data-bind="visible: lang() == 'ru'">
                    <td><a href="http://www.darimvmeste.ru" target="_blank">Дарим Вместе</a></td>
                    <td>&nbsp;</td>
                </tr-->
                <tr>
                    <td><a href="http://www.gallerza.com" target="_blank">Gallerza</a></td>
                    <td><a href="http://www.qmazi.com" target="_blank">Qmazi</a></td>
                </tr>
                <tr data-bind="visible: lang() == 'en'">
                    <td><a href="http://www.ikucha.ru" target="_blank">iKucha</a></td>
                    <td><a href="http://itunes.apple.com/us/app/how-mouse-played-ball-book/id483558719" target="_blank">How the Mouse Played <br> with the Ball</a></td>
                </tr>
                <tr data-bind="visible: lang() == 'ru'">
                    <td><a href="http://www.ikucha.ru" target="_blank">iКуча</a></td>
                    <td><a href="http://itunes.apple.com/ru/app/how-mouse-played-ball-book/id483558719" target="_blank">Как мышка <br> играла в мячик</a></td>
                </tr>
            </table>
        </section>

        <!-- Resources -->
        <section>
            <table class="projects">
                <tr>
                    <td>
                        <h3 data-bind="visible: lang() == 'ru'">Наши ресурсы</h3>
                        <h3 data-bind="visible: lang() == 'en'">Open source</h3>
                    </td>
                    <td>
                        <h3 data-bind="visible: lang() == 'ru'">Блоги</h3>
                        <h3 data-bind="visible: lang() == 'en'">Blogs</h3>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/organizations/05bit" target="_blank">05Bit @ GutHub</a>
                    </td>

                    <td><a href="http://05bit.qmazi.com" target="_blank">05Bit @ Qmazi</a> </td>
                </tr>
                <tr>
                    <td><a href="https://bitbucket.org/05bit" target="_blank">05Bit @ Bitbucket</a>
                    </td>
                    <td>
                        <a href="http://uvavu.ru/" target="_blank">Uvavu.ru</a>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <a href="http://kiss-of-life.posterous.com/" target="_blank">Kiss Of Life</a>
                    </td>
                </tr>

            </table>

        </section>

        <!-- Finally -->
        <section data-bind="visible: lang() == 'ru'">
            <h2>А что нужно вам?</h2>
            <p>E-mail: <a href="mailto:contact@05bit.com">contact@05bit.com</a></p>
        </section>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/assets/js/knockout-2.0.0.js"></script>

    <script type="text/javascript">
        var view = {
            lang: ko.observable('en'),

            updateLang: function(newlang) {
                if (!newlang) {
                    if (window.location.hash) {
                        newlang = window.location.hash.substring(1);
                    } else {
                        newlang = view.lang();
                    }
                }

                view.lang(newlang);
                window.location.hash = '#' + newlang;
            },

            selectRUS: function() {
                view.updateLang('ru');
            },

            selectENG: function() {
                view.updateLang('en');
            }
        }

        // set default language by browser setting
        if (navigator.language) {
            if (navigator.language.indexOf('ru') >= 0) {
                view.lang('ru');
            } else if (navigator.language.indexOf('en') >= 0) {
                view.lang('en');
            }
        }

        ko.applyBindings(view);
        view.updateLang();
    </script>
{% endblock %}
